* {
	font-family: 'Karla', sans-serif;
	color: #F2F4F3;
}

#navbar {
	background-color: #22333B;
}

.navbar-brand {
	font-family: 'Lobster', cursive;
}

nav a {
	color: #F2F4F3;
}

#landing {
	background-color: #0A0908;
}

#tools {
	background-color: #A9927D;
}

#contact {
	background-color: #0A0908;
}
